community-front/.env
backend/mysite/config.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# dependencies
community-front/node_modules
community-front/.pnp
community-front/.pnp.js

# testing
community-front/coverage

# production
community-front/build

# misc
community-front/.DS_Store

community-front/npm-debug.log*
community-front/yarn-debug.log*
community-front/yarn-error.log*
